@{
    ViewBag.Title = "Acerca de Adventure Works";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
            <p>¡Bienvenido a la emocionante aplicación web de Adventure Works para compartir fotos de aventuras!</p>
            <p>Esta aplicación fue desarrollada como parte de una actividad individual evaluada para la Quinta Evaluación. La fecha de entrega de este proyecto es el 04 de Diciembre de 2023.</p>
            <p>Aquí encontrarás información detallada sobre la aplicación, sus objetivos y cómo se presenta al público.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Requerimientos de la empresa Adventure Works</h3>
            <p>Adventure Works, una empresa líder en aventuras al aire libre, tenía la visión de crear una comunidad en línea donde los entusiastas de las aventuras pudieran compartir sus experiencias a través de fotografías. Esta aplicación web es la respuesta a esa visión.</p>
        </div>
        <div class="col-md-6">
            <h3>Casos de Uso</h3>
            <p>Los casos de uso de esta aplicación son variados y emocionantes. Los usuarios pueden agregar fotos, añadir comentarios, ver fotos de otros usuarios y mucho más. La aplicación está diseñada para ser intuitiva y fácil de usar.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Transcripción de la entrevista al cliente</h3>
            <p>En una entrevista con uno de nuestros clientes, Mark Alexieff, obtuvimos información valiosa sobre cómo debería funcionar la aplicación. Mark es un apasionado ciclista y fotógrafo, y sus ideas han influido en el diseño de esta plataforma.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Requisitos Técnicos</h3>
            <p>Para garantizar la mejor experiencia para nuestros usuarios, hemos establecido requisitos técnicos sólidos. La disponibilidad del sitio, la protección de credenciales y datos personales, y la escalabilidad son nuestras principales preocupaciones técnicas.</p>
        </div>
    </div>
</div>
